/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header position */
header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
/* body color */
body {
  background-color: #e5e5e5;
}

/* Footer */
footer {
  height: 100px;
  background-color: #333333;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  width: 80%;
}
